body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

#top-nav {
  background-color: black;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#top-nav #flag-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

#top-nav label {
  font-weight: bold;
}

#top-nav #center {
  text-align: center;
  font-size: 14px;
}

#top-nav #right {
  text-align: right;
}

#main-nav {
  background-color: white;
  text-align: left;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

#main-nav img {
  display: block;
  margin-left: 20px;
}

#promo-image {
  position: relative;
  text-align: center;
}

#promo-image img {
  width: 100%;
  height: auto;
}

#button1, #button2 {
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: white solid 1px;
  padding: 10px 40px;
  font-size: 16px;
  font-weight: bold;
  left: 50%;
  cursor: pointer;
  transition: color, border 0.3s ease;
}

#button1 {
  position: absolute;
  top: 55%;
}

#button2 {
  position: absolute;
  top: 1345px;
}

#button1:hover,#button2:hover {
  color: rgb(203, 203, 203);
  border: rgb(203, 203, 203) solid 1px;
}

.product-images {
  display: flex;
  background-color: white;
}

.product-text {
  text-align: right;
}

#H, #L, #P, #C {
  color: white;
  font-size: 43px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  display: block;
  width: 100%;
}

#H:hover, #L:hover, #P:hover, #C:hover {
  color: black;
}

.promo {
  display: flex;
  background-color: white;
}

.promo-gif {
  width: 50%;
  height: 450px;
  object-fit: cover;
}
#val-img{
  position: relative;
  bottom: 5px;
}
#par-img{
  position: relative;
  left: 50%;
  bottom: 458px;
}
#val-text{
  color: black;
  position: absolute;
  bottom: 458px;
}