body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

#top-nav {
  background-color: black;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#top-nav #flag-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

#top-nav label {
  font-weight: bold;
}

#top-nav #center {
  text-align: center;
  font-size: 14px;
}

#top-nav #right {
  text-align: right;
}

#main-nav {
  background-color: white;
  text-align: left;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

#main-nav img {
  display: block;
  margin-left: 20px;
}
a{
  text-decoration: none;
  font-weight: bold;
  color: black; 
  text-align: center;
  padding: 5px;
}
h1{
  font-size: xx-large;
  text-align: center;
}
#bt1{
  background-color: white;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 20px;
  font-weight: bold;
}
#bt1:hover {
  border-color: 1px solid black;
  color:white;
  background-color: black;
}
#g1,#g2{
  text-align: left;
}
#main{
  display: flex;
  flex-wrap: wrap;
  padding-left: 200px;
  padding-right: 200px;
}
#s1::before{
  content:url("https://www.converse.com/dw/image/v2/BJJF_PRD/on/demandware.static/-/Sites-cnv-master-catalog-we/default/dwbb3df451/images/a_107/A12821C_A_107X1.jpg?sw=200");
  text-align: center;
}
#s1:hover::before{
  content: url("https://www.converse.com/dw/image/v2/BJJF_PRD/on/demandware.static/-/Sites-cnv-master-catalog-we/default/dw5a33b66a/images/h_08/A12821C_H_08X1.jpg?sw=200");
  text-align: center;
}
#s2::before{
  content:url("https://www.converse.com/dw/image/v2/BJJF_PRD/on/demandware.static/-/Sites-cnv-master-catalog-we/default/dweef1e771/images/a_107/A13394C_A_107X1.jpg?sw=200");
  text-align: center;
}
#s2:hover::before{
  content: url("https://www.converse.com/dw/image/v2/BJJF_PRD/on/demandware.static/-/Sites-cnv-master-catalog-we/default/dw430893ba/images/h_08/A13394C_H_08X1.jpg?sw=200");
  text-align: center;
}
#s3::before{
  content:url("https://www.converse.com/dw/image/v2/BJJF_PRD/on/demandware.static/-/Sites-cnv-master-catalog-we/default/dw0e7a12a0/images/a_107/A13392C_A_107X1.jpg?sw=200");
  text-align: center;
}
#s3:hover::before{
  content: url("https://www.converse.com/dw/image/v2/BJJF_PRD/on/demandware.static/-/Sites-cnv-master-catalog-we/default/dw7b781b55/images/h_08/A13392C_H_08X1.jpg?sw=200");
  text-align: center;
}
#s4::before{
  content:url("https://www.converse.com/dw/image/v2/BJJF_PRD/on/demandware.static/-/Sites-cnv-master-catalog-we/default/dw9b7e42d9/images/a_107/A13855C_A_107X1.jpg?sw=200");
  text-align: center;
}
#s4:hover::before{
  content: url("https://www.converse.com/dw/image/v2/BJJF_PRD/on/demandware.static/-/Sites-cnv-master-catalog-we/default/dwb91f8951/images/h_08/A13855C_H_08X1.jpg?sw=200");
  text-align: center;
}
#s5::before{
  content:url("https://www.converse.com/dw/image/v2/BJJF_PRD/on/demandware.static/-/Sites-cnv-master-catalog-we/default/dw0c97d26b/images/a_107/A09381C_A_107X1.jpg?sw=200");
  text-align: center;
}
#s5:hover::before{
  content: url("https://www.converse.com/dw/image/v2/BJJF_PRD/on/demandware.static/-/Sites-cnv-master-catalog-we/default/dw01006ded/images/h_08/A09381C_H_08X1.jpg?sw=200");
  text-align: center;
}
#s6::before{
  content:url("https://www.converse.com/dw/image/v2/BJJF_PRD/on/demandware.static/-/Sites-cnv-master-catalog-we/default/dw6e964733/images/a_107/A12346C_A_107X1.jpg?sw=200");
  text-align: center;
}
#s6:hover::before{
  content: url("https://www.converse.com/dw/image/v2/BJJF_PRD/on/demandware.static/-/Sites-cnv-master-catalog-we/default/dw6f4be753/images/k_08/A12346C_K_08X1.jpg?sw=200");
  text-align: center;
}
#s7::before{
  content:url("https://www.converse.com/dw/image/v2/BJJF_PRD/on/demandware.static/-/Sites-cnv-master-catalog-we/default/dw9dee26c5/images/a_107/A10039C_A_107X1.jpg?sw=200");
  text-align: center;
}
#s7:hover::before{
  content: url("https://www.converse.com/dw/image/v2/BJJF_PRD/on/demandware.static/-/Sites-cnv-master-catalog-we/default/dw6f653968/images/k_08/A10039C_K_08X1.jpg?sw=200");
  text-align: center;
}
#s8::before{
  content:url("https://www.converse.com/dw/image/v2/BJJF_PRD/on/demandware.static/-/Sites-cnv-master-catalog-we/default/dwadb758fe/images/a_107/A13834C_A_107X1.jpg?sw=200");
  text-align: center;
}
#s8:hover::before{
  content: url("https://www.converse.com/dw/image/v2/BJJF_PRD/on/demandware.static/-/Sites-cnv-master-catalog-we/default/dw015fbd03/images/g_08/A13834C_G_08X1.jpg?sw=200");
  text-align: center;
}
#s9::before{
  content:url("https://www.converse.com/dw/image/v2/BJJF_PRD/on/demandware.static/-/Sites-cnv-master-catalog-we/default/dwe2c454ac/images/a_107/A10513C_A_107X1.jpg?sw=200");
  text-align: center;
}
#s9:hover::before{
  content: url("https://www.converse.com/dw/image/v2/BJJF_PRD/on/demandware.static/-/Sites-cnv-master-catalog-we/default/dwb9fc6f55/images/g_08/A10513C_G_08X1.jpg?sw=200");
  text-align: center;
}